@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.goog-te-banner-frame {
  position: fixed !important; /* Makes it stay fixed at the bottom */
  bottom: 0 !important;       /* Moves it to the bottom */
  top: auto !important;       /* Ensures it’s not at the top */
  width: 100% !important;     /* Ensures it spans the full width */
  z-index: 9999 !important;   /* Keeps it above all other elements */
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #747272;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}